[user]
  email = <email here>
  name = <name here>

[core]
  autocrlf = input

[push]
  default = current

[alias]
  unstage = reset HEAD --
  gconf = config --global
  hist = log --graph --oneline --decorate --all
